.comment-thread-container {
  margin: 8px 0;
}

.comment-thread-container > .card-body {
  padding: 12px 0;
}

.comments-sidebar {
  border: 0;
}

.comments-sidebar > .card-body {
  padding: 16px;
}

.show-replies-btn {
  margin: 16px 0 0 16px;
}
