.editor-wrapper {
  padding: 0;
}

.sidebar-wrapper {
  max-width: 400px;
  background-color: #fff;
}

.sidebar-wrapper > .container {
  padding: 0;
}

.editor-container {
  background: #fff;
  box-shadow: rgb(0 0 0 / 10%) 1px 1px 0px inset,
    rgb(0 0 0 / 7%) 0px -1px 0px inset;
  border-width: 1 1 1 6;
}

.editor {
  min-height: 90vh;
  position: relative;
  padding: 20px;
}
