.image-container {
  margin: 20px auto;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
}

.image-caption-input,
.image-caption-read-mode {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}
